 <!--  
  <span *ngFor="let child of items">

    <span *ngIf="child.children && child.children.length > 0">
 		<mat-expansion-panel class="no-shadow">
			<mat-expansion-panel-header fxLayout="row" [expandedHeight]="expandHeight" [collapsedHeight]="collapseHeight">
  		<mat-panel-title>
    				{{child.displayName}}
  		</mat-panel-title>
		</mat-expansion-panel-header>
		 <app-menu-vertical-item #menu [items]="child.children" (sidenavToggleEmit)="sidenavToggle()"></app-menu-vertical-item>
		</mat-expansion-panel> 
    </span>

    <span *ngIf="!child.children || child.children.length === 0">
    	<mat-nav-list class="ml-0" dense>
				<mat-list-item>
			      <button mat-menu-item [routerLink]="child.route">
			        <mat-icon class="{{child.iconName}}"></mat-icon>
			        <span>{{child.displayName}}</span>
			      </button>				
            	</mat-list-item>    
     	</mat-nav-list>       	
    </span>
  </span>
   -->