
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


/*
jnum: rgb(123, 31, 95)
azul oscuro: rgb(0, 57, 88)
azul claro: rgb(1,120,188)
*/

:root {
	--primary-color: black;
    --main-bg-color: rgb(0, 76, 119);
    --main-bg-color-down: rgb(64,104,138);
    --main-bg-color-alpha: rgb(0, 76, 119,.5);
    --main-bg-color-alpha3: rgb(0, 76, 119,.3);
    --main-menu-item-color: rgb(255,255,255);
    --file-text-color: rgba(0,0,0,.54);
    --main-alert-color: rgb(255,0,0,.6);
    --icon-color: #fff;    
}

.modal-dialog{
	max-width: 1000px!important;
}

.close-modal{
	color:#fff;
}


.cdk-overlay-container{
	z-index: 1500;
}

.demo-toolbar-icon{
	border: none;
	padding: 0;
    min-width: 0;
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    line-height: 40px;
    border-radius: 50%;	
}

.mb-1 .inputsearch{
	padding-left: 0px;
	padding-right: 10px;
}

.inputsearch .form-control{
	padding-left: 0px;
    text-align: center;
    padding-right: 0px;
}

.navbar-dark .navbar-nav i{
	display: none;
}

.paddingl0{
	padding-left: 0px;
}

.paddingr10{
	padding-right: 10px;
}

.card-body ul{
	margin-top:10px;
}

.card-body .tab-content{
	margin-bottom: 10px;
}

.toast-body{
	white-space: pre-line;
}

.highlightrow{
  background: var(--main-bg-color-alpha3);
}

.example-detail-row.mat-row{
	min-height: auto;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
  width: 100%;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.detalleExpanded{
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

.blackcell{color: black;}
.purplecell{color: purple;}
.redcell { color: var(--main-alert-color) }  
.bluecell { color: rgb(0, 57, 88,0.5) }
.greycell{color:#a6a6a6;}
.greencell{color:green!important;}
.fcell{color: black;}

.mat-slide-toggle-content {
    text-overflow: inherit!important;
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
    background-color: var(--main-bg-color);
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
    background-color: var(--main-bg-color-alpha);
}
.

a{
	cursor:pointer;
}

button:focus{
	outline: none;
}

input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    width: 20px;
    height: 20px;
}

.jnum-radio-group {
	display: flex;
    flex-wrap: wrap;
    margin: 10px 0 0 -10px;
}

.jnum-radio-button {
	display: inline-block;
    margin: 10px 0 0 10px;
    flex-grow: 1;
    width: calc(100% * (1/3) - 10px - 1px);
}

.mat-radio-label-content{
	white-space: normal;
}


.accordionSection {
	width:100%;
	margin-left: 15px;
    margin-right: 15px;	
}
.accordionSection .card-body .row{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
    margin-bottom: 10px;
}

.form-control:focus{
	border-color: var(--main-bg-color-alpha);
	box-shadow:none;
}
.hidden{
	display: none;
}

.login-box-logo{
	text-align: center;
}
.loginbackground{
	background-color: var(--main-bg-color-alpha)!important;
}

.form-group.required .control-label:after {
  content:"*";
  color:red;
}

h5 .btn-link{
	pointer-events:none;
}

#login-box {
    width: 75%;
    margin: 0 auto;
    padding: 20px 20px 40px 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    color: #fff;
    display: table-cell;
}

.jnum-primary{
	background-color: var(--main-bg-color);
}


#login-box .form-horizontal{
	background-color: #fff;
	color: #000;
}

#login-box .viewer-title {
	color: #fff;
	background: none;
}

.content{
	padding-left: 30px;
	padding-right: 30px;
}

.viewer-body {
	padding: 30px;
}

.tab-viewer-body{
	padding: 10px;
}

.mat-raised-button {
	background-color: var(--main-bg-color);
	color: #fff;
}

.nav-link i{
	padding-right: 5px;
}

.dropdown-menu show{
	margin-top: 13px;
}
.dropdown-menu{
	border: 0;	
	border-radius: 0;
}
.dropdown-menu .dropdown-item:hover,.dropdown-menu .submenu:hover {
    background-color: var(--main-bg-color-down);
    background-image: none;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -1px;
  margin-left: -1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  background-color: var(--main-bg-color);
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left .dropdown-menu {
  left: -100%;
  margin-left: 10px;
}

.dropright{
	left: -65px;
}

.nav-link.dropdown-toggle.submenu{
	padding-left: 25px;
}
.nav-item .dropdown-menu.show{
	background-color: var(--main-bg-color);
}
.navbar-dark .navbar-nav i{
	padding-right: 5px;
}

.navbar-dark .navbar-nav .nav-link,.navbar-dark .navbar-nav a{
	color: var(--icon-color);
	padding-bottom: 5px;
    padding-top: 5px;
}

.accordionSection {
	width:100%;
}
.accordionSection .card-body .row{
	margin-right: 0px;
	margin-left: 0px;
	margin-top: 10px;
    margin-bottom: 10px;
}

#accordion, #accordionSearch{
	margin-top: 10px;
	margin-bottom: 10px;
}

.search-toolbar {
	background-color: var(--main-bg-color-alpha);
	color: white;
	height: 35px;
}

.jnum-toolbar{
	background-color: var(--main-bg-color);
	color: white;
	margin-bottom: 10px!important;
	height: 35px;
}

.noelements {
	width: 100%;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
	color: rgba(0, 0, 0, .54);
}

.card-header,.card-body{
	padding-left: 10px;
	padding-right:10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.cardadd{
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;
}

.cardnew{
	margin-top: 10px;
	margin-bottom: 10px;
}

.cardnewdetalle{
	margin-top: 10px;
	margin-bottom: 10px;
	border: none;	
}

.cardnew .card-header{
	padding-left: 10px;
}
.cardselect{
	margin-top: 20px;
	margin-bottom: 20px;
	border:0;
	border-radius: 0;
}

.carddetalle{
	margin-bottom: 20px;
}

.tabset{
	width: 100%;
}

.tab-content{
	border-bottom: 1px solid;
    border-right: 1px solid;
    border-left: 1px solid;
    border-color: #dee2e6;
    padding: 20px;
}

.no-background {
	background: none;
}

.mat-snack-bar-container {       
    box-shadow: none;
}

/* PickList*/
.list-group{
	min-height: 500px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-bottom: 1px solid;
    border-color: #dee2e6;
}
.list-group-item-header{
	background-color: var(--main-bg-color-alpha);
	color: #fff;
	text-align: center;
	height: 40	px;
	border-top-left-radius:0;
	border-top-right-radius: 0;
	padding-top:10px;
}
.list-group-item:first-child{
	border-top-left-radius:0;
	border-top-right-radius: 0;	
}

.list-group-item:last-child{
	border-bottom-left-radius:0;
	border-bottom-right-radius: 0;	
}

.list-group-item{
    border: 0;
    text-align: left;
}

.v-center {
	min-height: 400px;
	justify-content: center;
	flex-flow: column wrap;
}

.v-center button {
	background-color: var(--main-bg-color);
	border-radius: 0px;
	color: var(--main-menu-item-color);
}
.list-group-item:hover{
	background-color: var(--main-bg-color-alpha3);
}
.v-center button:hover {
	background-color:var(--main-bg-color-alpha3);
	color: var(--main-menu-item-color);
	border-color:#fff;
}

.selectbutton{
	min-width: 56px;
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover {
    z-index: 2;
    color: var(--main-menu-item-color);
    background-color: var(--main-bg-color-alpha);
    border-color: var(--main-bg-color-alpha);
    border-radius: 0;
    height: 35px;
    padding: 5px;
}

.form-operacion{
	min-width: 700px;
}

.cdk-overlay-pane{
	width: auto!important;
}

.select-search .form-horizontal{
 	background-color:var(--main-bg-color-alpha3); 
 }
 
.select-search .mat-toolbar{
 	background-color:var(--main-bg-color-alpha3); 
 }
 .select-search .mat-form-field{
	padding-right: 20px;
}

.select-search .mat-row{
    display: flex;
    border-width: 0;
    border-bottom-width: 0px;
    border-style: solid;
    align-items: center;
    box-sizing: border-box;
}

.select-search .mat-cell{
    flex: 1;
    display: flex;
    align-items: center;
    overflow: hidden;
    word-wrap: break-word;
    min-height: inherit;
}

.select-search .mat-cell:first-of-type{
    padding-left: 15px;
}

.mat-cell{
	padding-left: 5px;
	padding-right: 5px;
}

.mat-header-cell.actions,.mat-cell.actions {
	flex: 0 0 5%;
}

.mat-select.mat-select-disabled {
	background-color: #e9ecef
}

.btn-link{
	color: var(--main-bg-color);
}

.ngb-dp-weekday{
	color: var(--main-bg-color-alpha)!important;
}

.bg-primary{
	background-color: var(--main-bg-color-alpha)!important;
}

.toolbar-wrapper-select i{
	font-size: 30px;
}
.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background{
	background-color: var(--main-bg-color);	
}
.modal-header{
	background-color: var(--main-bg-color);
	color: var(--icon-color);
	padding: 0.5rem 1rem;
	border-top-left-radius:0;
	border-top-right-radius: 0;
}


@media (min-width: 576px){
	.modal-dialog {
	    max-width: 500px;
	    margin: 5.75rem auto;
	}
}
